body {
    margin:8px;
    line-height: 1.5;
    font-family: 'Open Sans', Arial, sans-serif;
    display:block;
    color:#4d4e53;
  }
  
  #main-doc{
    padding: 20px;
    margin-left: 310px;
    position: absolute;
  }
  header {
    font-size: 28.8px;
    color:black;
  }
  code{
    display:block;
    background-color:#f7f7f7;
    margin:10px;
    padding:15px;
    font-size:12.48px;
    white-space:pre-line;
    line-height:2;
    border-radius:5px;
  }
  article{
  color: #4d4e53;
    margin:15px;
    font-size:15.36px;
  }
  section li{
    margin: 15px 0px 0px 20px;
  }
  
  nav{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:300px;
    border-right:solid;
    border-color:rgba(0, 22, 22, 0.4);
  }
  
  nav>header{
    text-align:center;
    margin:10px;
  }
  nav>ul{
    list-style:none;
    padding:0;
    height:88%;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
  }
  nav>ul>li>a{
    text-decoration:none;
    color:#4d4e53;
    display:block;
    border-top:1px solid;
    padding:10px 30px;
    cursor:pointer;
  }
  @media (max-width:815px){
    #main-doc{
      margin-top:270px;
      margin-left:0;
      position:relative;
      margin-bottom: 110px;
    }
    nav{
      position:absolute;
      top:0;
      left:0;
      padding:0;
      margin:0;
      width:100%;
      height:277px;
          box-sizing: border-box;
  
      border: none;
      border-bottom:2px solid;
    }
    nav>ul{
          box-sizing: border-box;
      height:209px;
      border:1px solid;
    }
  }